* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  background-color: var(--bg-dark);
  margin: 0;
  padding: 0;
  transition: all 0.2s;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}
button:focus {
  outline: none;
}

@font-face {
  font-family: "Poppins";
  src: url("../../font/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../font/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@-webkit-keyframes move-right {
  0%, 50% {
    opacity: 0.5;
    translate: 0 500px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes move-right {
  0%, 50% {
    opacity: 0.5;
    translate: 0 500px;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-left {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  50% {
    transform: translateX(20px);
    opacity: 0.5;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  50% {
    transform: translateX(20px);
    opacity: 0.5;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-right {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  50% {
    transform: translateX(-20px);
    opacity: 0.5;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  50% {
    transform: translateX(-20px);
    opacity: 0.5;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-up {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-up {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes move-up {
  0% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-7px);
  }
}
@keyframes move-up {
  0% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-7px);
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    translate: 0 10px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 10px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
html[data-theme=light] {
  --color-text: #fff;
  --color-background: rgb(66, 66, 66);
  --text-color: #fff;
  --bg-color: #282727;
  --bg-dark: #191b1e;
}

html[data-theme=dark] {
  --color-text: rgb(66, 66, 66);
  --color-background: #fff;
  --text-color: #868688;
  --bg-color: #F9FAFF;
  --bg-dark: #F9FAFF;
}

* {
  box-sizing: border-box;
}

body.open .sidebar-burger {
  background: url("../img/close.png") no-repeat center center;
}

body.open .sidebar .sidebar-header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 1.25rem 0 0;
  position: relative;
}
@media (min-width: 576px) and (max-width: 767px) {
  body.open .sidebar .sidebar-header {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  body.open .sidebar .sidebar-header {
    display: none;
  }
}

body.open .sidebar-logo {
  opacity: 1;
  display: block;
}

.open .sidebar-nav {
  gap: 20px !important;
  transition: all 0.3s;
}

body.open .sidebar li > span {
  opacity: 1;
  -webkit-animation: appear 0.3s both;
          animation: appear 0.3s both;
  display: inline-block;
}
@media (min-width: 576px) and (max-width: 767px) {
  body.open .sidebar li > span {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  body.open .sidebar li > span {
    display: none;
  }
}

body.open {
  display: flex;
  justify-content: flex-end;
}

[type=search] {
  outline-offset: 0;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
}

.sidebar {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
  background-color: var(--color-background);
  transition: width 0.4s;
  padding-top: 30px;
}
.sidebar .sidebar-inner {
  position: absolute;
  top: 30px;
  left: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  width: 90%;
}
.sidebar .sidebar-header {
  height: 72px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .sidebar .sidebar-header {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .sidebar .sidebar-header {
    display: none;
  }
}
.sidebar .sidebar-burger {
  width: 72px;
  height: 72px;
  display: grid;
  place-items: center;
  background: url("../img/menu.png") no-repeat center center;
  transition: 0.3s;
}
.sidebar .sidebar-logo {
  height: 20px;
  opacity: 0;
  display: none;
  transition: 0.3s;
}
.sidebar .sidebar-nav {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-direction: column;
  height: 50px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1.2px;
  line-height: 1;
  padding: 30px 0 0 10px;
  transition: all 0.3s;
}
.sidebar li {
  display: block;
  width: 100%;
  padding: 5px 0 5px 10px;
}
.sidebar li:hover {
  cursor: pointer;
}
.sidebar li:hover span {
  color: #4977E7;
}
.sidebar li:hover img {
  opacity: 0.5;
}
.sidebar li > img {
  width: 22px;
  height: 22px;
}
.sidebar li > span {
  color: var(--color-text);
  opacity: 0;
  font-size: 15px;
  transition: 0.3s;
  padding-left: 5px;
  position: relative;
  transition: all 0.4s;
  display: none;
}
.sidebar li > span:hover {
  cursor: pointer;
  color: #4977E7;
}
.sidebar .small-menu,
.sidebar .show-menu {
  max-height: 80px;
  position: relative;
  top: 10px;
  left: 30px;
  display: none;
  flex-direction: column;
  transition: 0.3s;
  display: none;
}
.sidebar .small-menu li,
.sidebar .show-menu li {
  padding: 10px 0;
}
.sidebar .small-menu li a,
.sidebar .show-menu li a {
  color: var(--color-text);
  font-size: 15px;
}
.sidebar .small-menu li a:hover,
.sidebar .show-menu li a:hover {
  color: #4977E7;
}
@media (min-width: 576px) and (max-width: 767px) {
  .sidebar .small-menu,
.sidebar .show-menu {
    display: none !important;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .sidebar .small-menu,
.sidebar .show-menu {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    width: 60px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .sidebar {
    width: 60px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .sidebar {
    width: 60px;
  }
}

.show {
  display: flex !important;
  transition: 0.4s all;
}
@media (min-width: 576px) and (max-width: 767px) {
  .show {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .show {
    display: none;
  }
}

body.open .sidebar {
  width: 20%;
  position: fixed;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.open .sidebar {
    width: 28%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body.open .sidebar {
    width: 60px;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  body.open .sidebar {
    width: 60px;
  }
}

body.open .main {
  width: 78%;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.open .main {
    width: 68%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body.open .main {
    width: 85%;
  }
}

.main {
  width: 92%;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
  transition: width 0.4s;
}
.main .navbar {
  background-color: var(--color-background);
  margin: 10px 0 30px 0;
  display: flex;
  padding: 20px 10px;
  border-radius: 10px;
  justify-content: space-between;
}
.main .navbar .search {
  margin-left: 20px;
  position: relative;
  background-color: var(--bg-color);
  padding: 15px 0 15px 70px;
  border-radius: 50px;
  width: 385px;
  border: 1px solid transparent;
  transition: all 0.4s;
}
.main .navbar .search .icon-search {
  position: absolute;
  left: 25px;
  top: 0;
  font-size: 20px;
  color: #a7a7a7;
  transform: translateY(85%);
  transition: all 0.4s;
  cursor: pointer;
}
.main .navbar .search .icon-search:hover {
  color: #4977E7;
}
.main .navbar .search:hover {
  border: 1px solid #4977E7;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main .navbar .search {
    margin-left: 0;
    padding: 10px 0 10px 55px;
    width: 285px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .main .navbar .search {
    margin-left: 0;
    padding: 10px 0 10px 55px;
    width: 285px;
  }
}
.main .navbar .user {
  display: flex;
  gap: 7px;
  position: relative;
  align-items: center;
}
.main .navbar .user .icon {
  color: #dbddf4;
  position: relative;
  font-size: 30px;
  padding: 0 10px;
  transition: all 0.4s;
}
.main .navbar .user .icon::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
}
.main .navbar .user .icon:hover {
  cursor: pointer;
  color: #4977E7;
}
.main .navbar .user .avatar {
  border: 2px solid #dbddf4;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.main .navbar .user .avatar img {
  width: 55px;
  height: 55px;
}
.main .navbar .user .avatar:hover {
  cursor: pointer;
  opacity: 0.7;
  border: 2px solid #4977E7;
}
.main .dash {
  background-color: var(--color-background);
  padding: 20px 10px;
  border-radius: 10px;
}
.main .box {
  border-radius: 15px;
  height: 250px;
  margin: 20px 0;
}
.main .box-1 {
  background: #4977E7;
}
.main .box-2 {
  background: #7CC5FA;
}
.main .box-3 {
  background: #9E71CE;
}
.main .box-4 {
  background: #86D1B3;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    width: 88%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .main {
    width: 83%;
  }
}

.open .dashboard-list .arrow {
  position: absolute;
  right: 0;
  background-color: var(--color-text);
  width: 22px;
  height: 22px;
  transition: 0.3s;
  background: url("../img/arrow-down.svg") no-repeat center center;
}
.open .arrow-icon .arrow {
  background: url("../img/arrow-up.svg") no-repeat center center !important;
}
.open .arrow {
  position: absolute;
  right: 0;
  width: 22px;
  height: 22px;
  transition: 0.3s;
  background: url("../img/arrow-down.svg") no-repeat center center;
}
@media (min-width: 576px) and (max-width: 767px) {
  .open .arrow {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .open .arrow {
    display: none;
  }
}

.btn-theme {
  position: fixed;
  bottom: 50px;
  left: 50px;
  cursor: pointer;
}

input#switch {
  width: 70px;
  height: 35px;
  position: absolute;
  top: -5px;
  right: -11px;
  z-index: 99;
  opacity: 0;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}/*# sourceMappingURL=main.css.map */