
@keyframes move-right {
    0% , 50%{
        opacity: 0.5;
        translate: 0 500px;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  @keyframes fade-left {
    0% {
      transform: translateX(-300px);
      opacity: 0;
}
50% {
  transform: translateX(20px);
  opacity: 0.5;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}
    100% {
      transform: translateX(0);
      opacity: 1;
}
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(300px);
      opacity: 0;
}
    50% {
      transform: translateX(-20px);
      opacity: 0.5;
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      -o-transform: translateX(-20px);
}
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-up {
    0% {
      transform: translateY(-300px);
      opacity: 0;
}
    50% {
      transform: translateY(20px);
      opacity: 0.5;
}
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(200px);
      opacity: 0;
}
    50% {
      transform: translateY(-20px);
      opacity: 0.5;
}
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  
  @keyframes move-up {
    0% {
        transform: translateY(-7px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-7px);
    }
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 10px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}