@font-face {
    font-family: 'Poppins';
    src: url("../../font/Poppins-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../font/Poppins-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../../font/Poppins-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

// format('truetype');